@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  font-family: "Inter";
}

body {

  margin: 0;
  padding: 0;
}



/* image styles */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-panel {
  flex: 1;
  padding: 20px;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.image-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 100px 10px 0px;/
}

.image-item img {
  margin-top: 30px;
  width: 100px;
  height: auto;
  margin-right: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .image-item img {
    width: 100px;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 10px;

  }

  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 200px;
    gap: 2px;
  }

  .image-item img {
    width: 70px;
    height: auto;
    margin-right: 60px;
  }

}


@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-panel {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  #mainImage {
    width: 80%;
    margin-top: 20px;
    margin-right: 40px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 20px;
    margin-left: 50px;
  }

  .image-item img {
    width: 100%;
  }

  .right-panel {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

}






/* Titles  styles*/
#marmeto-Title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #B9BBBF;

}

#sideboard-Titte {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;

}


.discounted-price {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0%;
  letter-spacing: 0em;
  text-align: left;
  color: #3A4980;

}

#discount-Offer {
  font-size: 21px;
  font-weight: 400;
  width: 81px;
  height: 25px;
  top: 195px;
  left: 978px;

  letter-spacing: 0em;
  text-align: left;
  color: #FF000080;

}

.price {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000080;

}






/* radio button style */

.radio-container {
  display: inline-block;
  background-color: #F3F3F3;
  ;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 10px;
}

.radio-container input[type="radio"],
.radio-container label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}


.radio-container input[type="radio"]:checked~* {
  color: #3A4980;
}



@media only screen and (max-width: 767px) {
  .size-selection {
    text-align: center;
    width: 80%;
    margin-left: 25px;
  }

  .radio-container {
    display: block;
    margin-bottom: 10px;
  }

  .radio-container input[type="radio"],
  .radio-container label {
    margin-right: 0;

  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .radio-container {
    margin-right: 20px;
  }
}



/*Add cart  button section */

.quantity-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.quantity-buttons {
  display: flex;
  align-items: center;

}

.quantity-buttons button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 59px;
  cursor: pointer;
  border-radius: 29.5px;
  border: none;
  font-size: 30px;
  color: #3A4980;


}



.quantity-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECDECC;
  border-radius: 29.5px;
  background: #F3F3F3;
  font-size: 30px;
  color: #3A4980;
  margin-bottom: 30px;

}


.addCart {
  background-color: #3A4980;
  color: white;
  border: none;
  margin-left: -20px;
  width: 309px;
  height: 59px;
  top: 549px;
  left: 966px;
  border-radius: 29.5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  cursor: pointer;
  margin-right: 150px;
  margin-bottom: 30px;

}





@media only screen and (max-width: 767px) {
  .quantity-selection {
    flex-direction: column;
    align-items: center;

    .quantity-buttons {
      flex-direction: row;
      margin-top: 0;
    }

    .addCart {
      width: 50%;
      margin-left: 10px;
      margin-right: 0;
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .quantity-buttons-container {
    margin-bottom: 20px;
  }

  .addCart {
    margin-left: 0;
    margin-right: 0;
  }
}






/* color box */
.choose-Color {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #B9BBBF;
  margin-bottom: 20px;

}

.color-box {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
}

.selected::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  background-color: inherit;
  padding: 2px;
  border-radius: 50%;
}

.selected {
  border: 10px double #ECDECC;
  background-clip: padding-box;
}


.color-selection {
  margin-top: 20px;
}



@media only screen and (max-width: 767px) {
  .color-box {
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }

  .choose-Color {
    font-size: 14px;
    margin-bottom: 10px;
  }
}






/* descrption */

#sideBoard-Text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #A3A3A3;
  margin-top: 30px;


}


@media (max-width: 1024px) {
  #sideBoard-Text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 25px;
  }
}


@media (max-width: 768px) {
  #sideBoard-Text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}




/* cart icon */
#cart-Icon {
  width: 15.53px;
  height: 17.06px;
  top: 1.97px;
  margin-right: 7px;
}



@media only screen and (max-width: 767px) {
  #cart {
    width: 360px;
    height: 50px;
    padding: 10px;
    margin: 5px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #cart {
    width: 80%;
    height: 180px;
    margin: 20px auto;
  }
}